{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  <!-- Check if a cat object exists to determine if we're editing -->
  {% if cat %}
    <h1>Edit {{ cat.name }}</h1>
  {% else %}
    <h1>Add a Cat</h1>
  {% endif %}
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
